In [2]:
import pandas as pd
import requests
import io
import os
import csv
import json
import ast
import pprint
from bs4 import BeautifulSoup

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/54.0.2840.90 '
                  'Safari/537.36'
}

### Exploring ONS API

In [3]:
api_url = 'https://api.beta.ons.gov.uk/v1/'

In [4]:
offset = 0
limit = 500

response = requests.get(f'{api_url}datasets', params={"limit": limit, "offset": offset})
response.raise_for_status()  # raises exception when not a 2xx response
available_datasets_json = response.json()

datasets = []
for dictionary in available_datasets_json['items']:
    datasets.append([dictionary['title'], dictionary['id']])

datasets

[['Quarterly personal well-being estimates', 'wellbeing-quarterly'],
 ['Personal well-being estimates by local authority',
  'wellbeing-local-authority'],
 ['Deaths registered weekly in England and Wales by region',
  'weekly-deaths-region'],
 ['Death registrations and occurrences by local authority and place of death',
  'weekly-deaths-local-authority'],
 ['Death registrations and occurrences by health board and place of death',
  'weekly-deaths-health-board'],
 ['Deaths registered weekly in England and Wales by age and sex',
  'weekly-deaths-age-sex'],
 ['UK spending on credit and debit cards', 'uk-spending-on-cards'],
 ['UK Business: Activity, Size and Location',
  'uk-business-by-enterprises-and-local-units'],
 ['Traffic Camera Activity', 'traffic-camera-activity'],
 ['Trade in goods: country by commodity', 'trade'],
 ['Effects of Taxes and Benefits on Household Income',
  'tax-benefits-statistics'],
 ['Suicide registrations in England and Wales by local authority',
  'suicides-in-the-uk'],
 ['Sexual orientation by English regions and UK countries',
  'sexual-orientation-by-region'],
 ['Sexual orientation by age and sex', 'sexual-orientation-by-age-and-sex'],
 ['Retail sales index - large and small businesses',
  'retail-sales-index-large-and-small-businesses'],
 ['Retail sales index - all businesses', 'retail-sales-index-all-businesses'],
 ['Retail sales index', 'retail-sales-index'],
 ['Annual GDP for England, Wales and the English regions',
  'regional-gdp-by-year'],
 ['Quarterly GDP for England, Wales and the English regions',
  'regional-gdp-by-quarter'],
 ['Local authority ageing statistics, projected sex ratios for older people',
  'projections-older-people-sex-ratios'],
 ['Local authority ageing statistics, household projections for older people',
  'projections-older-people-in-single-households'],
 ['Output in the construction industry',
  'output-in-the-construction-industry'],
 ['Faster Indicators - Online Job Advert Estimates',
  'online-job-advert-estimates'],
 ['Local authority ageing statistics, sex ratios for people aged 65 and over and 85 and over',
  'older-people-sex-ratios'],
 ['Local authority ageing statistics, net internal migration people aged 65 and over and 85 and over',
  'older-people-net-internal-migration'],
 ['Local authority ageing statistics, older people economic activity',
  'older-people-economic-activity'],
 ['Population Estimates for UK, England and Wales, Scotland and Northern Ireland',
  'mid-year-pop-est'],
 ['Life Expectancy by Local Authority', 'life-expectancy-by-local-authority'],
 ['UK Labour Market', 'labour-market'],
 ['Index of Private Housing Rental Prices',
  'index-private-housing-rental-prices'],
 ['House price statistics for small areas in England and Wales',
  'house-prices-local-authority'],
 ['Expenditure on healthcare: UK Health Accounts', 'health-accounts'],
 ['GVA by industry by local authority', 'gva-by-industry-by-local-authority'],
 ['Generational income: The effects of taxes and benefits',
  'generational-income'],
 ['GDP monthly estimate (incorporating the Index of Services and Index of Production)',
  'gdp-to-four-decimal-places'],
 ['GDP by local authority', 'gdp-by-local-authority'],
 ['Coronavirus and the latest indicators for the UK economy and society: Shipping indicators',
  'faster-indicators-shipping-data'],
 ["Consumer Prices Index including owner occupiers' housing costs (CPIH)",
  'cpih01'],
 ["Children's Well-being Measures", 'childrens-wellbeing'],
 ['Earnings and hours worked, place of work and place of residence by Parliamentary constituency: ASHE Tables 9 and 10',
  'ashe-tables-9-and-10'],
 ['Earnings and hours worked, place of work and residence by local authority: ASHE Tables 7 and 8 ',
  'ashe-tables-7-and-8'],
 ['Earnings and hours worked, region by occupation by two-digit SOC: ASHE Table 3',
  'ashe-tables-3'],
 ['Earnings and hours worked, place of work and place of residence by local enterprise partnerships: ASHE Tables 27 and 28',
  'ashe-tables-27-and-28'],
 ['Earnings and hours worked, care workers: ASHE Table 26', 'ashe-tables-26'],
 ['Earnings and hours worked, UK region by public and private sector: ASHE Table 25',
  'ashe-tables-25'],
 ['Earnings and hours worked, age group by occupation by two-digit SOC: ASHE Table 20',
  'ashe-tables-20'],
 ['Earnings and Hours Worked, Work and Residence-Based Travel to Work Area: ASHE Tables 11 and 12',
  'ashe-tables-11-and-12'],
 ['Earnings and Hours Worked, UK Region by Industry by Two-Digit SIC: ASHE Table 5',
  'ashe-table-5'],
 ['Local authority ageing statistics, population projections for older people',
  'ageing-population-projections'],
 ['Local authority ageing statistics, based on annual mid-year population estimates',
  'ageing-population-estimates'],
 ['Sexual orientation (detailed)', 'TS079'],
 ['Gender identity', 'TS078'],
 ['Sexual orientation', 'TS077'],
 ['Welsh language skills (speaking) by single year of age', 'TS076'],
 ['Multi religion households', 'TS075'],
 ['Household Reference Person indicator of previous service in UK armed forces',
  'TS074'],
 ['Population who have previously served in UK armed forces in communal establishments and in households',
  'TS073'],
 ['Number of people in household who have previously served in UK armed forces',
  'TS072'],
 ['Previously served in the UK armed forces', 'TS071'],
 ['Gender identity (detailed)', 'TS070'],
 ['Schoolchildren and full-time students', 'TS068'],
 ['Highest level of qualification', 'TS067'],
 ['Economic activity status', 'TS066'],
 ['Employment history', 'TS065'],
 ['Occupation - minor groups', 'TS064'],
 ['Occupation', 'TS063'],
 ['NS-SEC', 'TS062'],
 ['Method used to travel to work', 'TS061'],
 ['Industry', 'TS060'],
 ['Hours worked', 'TS059'],
 ['Distance travelled to work', 'TS058'],
 ['Second address indicator', 'TS056'],
 ['Purpose of second address', 'TS055'],
 ['Tenure', 'TS054'],
 ['Occupancy rating for rooms', 'TS053'],
 ['Occupancy rating for bedrooms', 'TS052'],
 ['Number of rooms', 'TS051'],
 ['Number of bedrooms', 'TS050'],
 ['Communal establishment management and type', 'TS048'],
 ['Communal establishment residents by age and sex', 'TS047'],
 ['Central heating', 'TS046'],
 ['Car or van availability', 'TS045'],
 ['Accommodation type', 'TS044'],
 ['Number of Households', 'TS041'],
 ['Number of disabled people in the household', 'TS040'],
 ['Provision of unpaid care, age-standardised proportions', 'TS039ASP'],
 ['Provision of unpaid care', 'TS039'],
 ['Disability, age-standardised proportions', 'TS038ASP'],
 ['Disability', 'TS038'],
 ['General health, age-standardised proportions', 'TS037ASP'],
 ['General health', 'TS037'],
 ['Welsh language skills (understanding)', 'TS036'],
 ['Welsh language skills (reading)', 'TS035'],
 ['Welsh language skills (writing)', 'TS034'],
 ['Welsh language skills (speaking)', 'TS033'],
 ['Welsh language skills (detailed)', 'TS032'],
 ['Religion (detailed)', 'TS031'],
 ['Religion', 'TS030'],
 ['Proficiency in English', 'TS029'],
 ['National identity (detailed)', 'TS028'],
 ['National identity - UK', 'TS027'],
 ['Multiple main languages in household', 'TS026'],
 ['Household language', 'TS025'],
 ['Main language (detailed)', 'TS024'],
 ['Multiple ethnic group', 'TS023'],
 ['Ethnic group (detailed)', 'TS022'],
 ['Ethnic group', 'TS021'],
 ['Number of non-UK short-term residents by sex', 'TS020'],
 ['Migrant Indicator', 'TS019'],
 ['Age of arrival in the UK', 'TS018'],
 ['Household size', 'TS017'],
 ['Length of residence', 'TS016'],
 ['Year of arrival in UK', 'TS015'],
 ['Passports held (detailed)', 'TS013'],
 ['Country of birth (detailed)', 'TS012'],
 ['Households by deprivation dimensions', 'TS011'],
 ['Living arrangements', 'TS010'],
 ['Sex by single year of age', 'TS009'],
 ['Sex', 'TS008'],
 ['Age by single year', 'TS007'],
 ['Population density', 'TS006'],
 ['Passports held', 'TS005'],
 ['Country of birth', 'TS004'],
 ['Household composition', 'TS003'],
 ['Legal partnership status', 'TS002'],
 ['Number of usual residents in households and communal establishments',
  'TS001'],
 ['Number of non-UK born short-term residents by sex by single year of age',
  'ST013'],
 ['Number of non-UK born short-term residents by NS-SEC', 'ST012'],
 ['Number of non-UK born short-term residents by occupation', 'ST011'],
 ['Number of non-UK born short-term residents by industry', 'ST010'],
 ['Number of non-UK born short-term residents by economic activity', 'ST009'],
 ['Number of non-UK born short-term residents in household spaces by tenure',
  'ST008'],
 ['Number of non-UK born short-term residents by general health', 'ST007'],
 ['Number of non-UK born short-term residents by passports held (detailed)',
  'ST006'],
 ['Number of non-UK born short-term residents by main language', 'ST005'],
 ['Number of non-UK born short-term residents by country of birth', 'ST004'],
 ['Number of non-UK born short-term residents by ethnicity', 'ST003'],
 ['Number of non-UK born short-term residents by sex by age', 'ST002'],
 ['Number of non-UK born short-term residents by residence type', 'ST001'],
 ['Dwelling type', 'RM205'],
 ['Number of Dwellings', 'RM204'],
 ['Legal partnership status by sex by age - Communal establishment residents',
  'RM203'],
 ['Household size by number of rooms', 'RM202'],
 ['Tenure by age - Household Reference Persons', 'RM201'],
 ['Sex by single year of age (detailed)', 'RM200'],
 ['Number of multi-generational households by bedroom occupancy ratings',
  'RM198'],
 ['Number of multi-generational households by household tenure', 'RM197'],
 ['Communal establishment management and type- communal establishments',
  'RM196'],
 ['Number of households in houses in multiple occupation (HMO) by type of occupancy rating (bedrooms)',
  'RM195'],
 ['Number of households in houses in multiple occupation (HMO) by type of central heating in household',
  'RM194'],
 ['Number of households in houses in multiple occupation (HMO) by accommodation type',
  'RM193'],
 ['Number of dwellings that are houses in multiple occupation (HMO)', 'RM192'],
 ['Gender identity by unpaid carer status', 'RM191'],
 ['Sexual orientation by tenure', 'RM190'],
 ['Sexual orientation by sex', 'RM189'],
 ['Sexual orientation by religion', 'RM188'],
 ['Sexual orientation by occupancy rating (rooms)', 'RM187'],
 ['Sexual orientation by occupancy rating (bedrooms)', 'RM186'],
 ['Sexual orientation by NS-SEC', 'RM185'],
 ['Sexual orientation by industry', 'RM184'],
 ['Sexual orientation by hours worked', 'RM183'],
 ['Sexual orientation by highest qualification held', 'RM182'],
 ['Sexual orientation by household composition', 'RM181'],
 ['Sexual orientation by dwelling type', 'RM180'],
 ['Sexual orientation by type of central heating in household', 'RM179'],
 ['Sexual orientation by unpaid carer status', 'RM178'],
 ['Sexual orientation by age', 'RM177'],
 ['Gender identity by tenure', 'RM176'],
 ['Gender identity by sexual orientation', 'RM175'],
 ['Gender identity by sex', 'RM174'],
 ['Gender identity by religion', 'RM173'],
 ['Gender identity by occupancy rating (rooms)', 'RM172'],
 ['Gender identity by occupancy rating (bedrooms)', 'RM171'],
 ['Gender identity by NS-SEC', 'RM170'],
 ['Gender identity by industry', 'RM169'],
 ['Gender identity by hours worked', 'RM168'],
 ['Gender identity by highest qualification held', 'RM167'],
 ['Gender identity by household composition', 'RM166'],
 ['Gender identity by dwelling type', 'RM165'],
 ['Gender identity by type of central heating in household', 'RM164'],
 ['Gender identity by age by sex', 'RM163'],
 ['Welsh language skills by tenure - Household Reference Persons', 'RM162'],
 ['Welsh language skills by sex by age', 'RM161'],
 ['Welsh language skills by country of birth', 'RM160'],
 ['Number of people who can speak Welsh by household size', 'RM158'],
 ['Disability by ability to speak Welsh by age', 'RM157'],
 ['General health by ability to speak Welsh by age', 'RM156'],
 ["Family type by parents' ability to speak Welsh by age and ability to speak Welsh of dependent child",
  'RM155'],
 ['Ability to speak Welsh by employment history', 'RM154'],
 ['Ability to speak Welsh by tenure - Household Reference Persons', 'RM153'],
 ['Ability to speak Welsh by occupation', 'RM152'],
 ['Ability to speak Welsh by NS-SEC', 'RM151'],
 ['Ability to speak Welsh by national identity by age', 'RM150'],
 ['Ability to speak Welsh by industry', 'RM149'],
 ['Year last worked by age', 'RM148'],
 ['Veterans by age', 'RM147'],
 ['Veterans by occupation', 'RM146'],
 ['Veterans by general health', 'RM145'],
 ['Veterans by economic activity status', 'RM144'],
 ['Veterans by disability', 'RM143'],
 ['Veteran households by tenure', 'RM142'],
 ['Type of central heating in household by occupancy rating (rooms) by age',
  'RM141'],
 ['Tenure by occupation - Household Reference Persons', 'RM140'],
 ['Tenure by number of people per room in household by accommodation type',
  'RM139'],
 ['Tenure by NS-SEC - Household Reference Persons', 'RM138'],
 ['Tenure by number of rooms', 'RM137'],
 ['Tenure by household size by number of bedrooms', 'RM136'],
 ['Tenure by household composition', 'RM135'],
 ['Tenure by ethnic group - Household Reference Persons', 'RM134'],
 ['Tenure by economic activity status - Household Reference Persons', 'RM133'],
 ['Tenure by dependent children in household', 'RM132'],
 ['Tenure by car or van availability by number of usual residents aged 17 or over in household',
  'RM131'],
 ['Tenure by car or van availability by ethnic group of Household Reference Person',
  'RM130'],
 ['Student accommodation by age', 'RM129'],
 ['Sexual orientation by occupation', 'RM128'],
 ['Sexual orientation by legal partnership status', 'RM127'],
 ['Sexual orientation by general health', 'RM126'],
 ['Sexual orientation by ethnic group', 'RM125'],
 ['Sexual orientation by economic activity status', 'RM124'],
 ['Sexual orientation by disability', 'RM123'],
 ['Sexual orientation by age and sex', 'RM122'],
 ['Sex by age', 'RM121'],
 ['Residence type by sex by age', 'RM120'],
 ['Residence type by age', 'RM119'],
 ['Religion by age', 'RM118'],
 ['Religion by accommodation type', 'RM117'],
 ['Provision of unpaid care by households with people with a disability by economic activity status',
  'RM116'],
 ['Provision of unpaid care by general health by age', 'RM115'],
 ['Provision of unpaid care by general health by households with people who have a disability',
  'RM114'],
 ['Provision of unpaid care by age', 'RM113'],
 ['Proficiency in English by economic activity status', 'RM112'],
 ['Proficiency in English by age', 'RM111'],
 ['Passports held by year of arrival in the UK', 'RM110'],
 ['Passports held by age', 'RM109'],
 ['Passports held by country of birth', 'RM108'],
 ['Occupation by sex', 'RM107'],
 ['Occupation by religion', 'RM106'],
 ['Occupation by hours worked', 'RM105'],
 ['Occupation by ethnic group', 'RM104'],
 ['Occupation by economic activity status', 'RM103'],
 ['Occupation by age', 'RM102'],
 ['Occupancy rating (rooms) by tenure', 'RM101'],
 ['Occupancy rating (rooms) by household composition', 'RM100'],
 ['Occupancy rating (bedrooms) by tenure', 'RM099'],
 ['Occupancy rating (bedrooms) by household composition', 'RM098'],
 ['Occupancy rating (bedrooms) by ethnic group of Household Reference Person',
  'RM097'],
 ['Number of bedrooms by tenure by age of dependent children', 'RM096'],
 ['Number of bedrooms by accommodation type by age of dependent children',
  'RM095'],
 ['NS-SEC of Household Reference Person by household composition', 'RM094'],
 ['NS-SEC by sex', 'RM093'],
 ['NS-SEC by religion', 'RM092'],
 ['NS-SEC by economic activity status', 'RM091'],
 ['NS-SEC by age', 'RM090'],
 ['National Identity by sex by age', 'RM089'],
 ['National identity by religion', 'RM088'],
 ['National identity by ethnic group', 'RM087'],
 ['National identity by age', 'RM086'],
 ['Multi-religion households by tenure', 'RM085'],
 ['Multi-religion households by occupation of Household Reference Person',
  'RM084'],
 ['Multi-religion households by ethnic group of Household Reference Person',
  'RM083'],
 ['Multi-language households by tenure', 'RM082'],
 ['Multi-language households by occupation of Household Reference Person',
  'RM081'],
 ['Multi-language households by ethnic group of Household Reference Person',
  'RM080'],
 ['Method used to travel to work by occupation', 'RM079'],
 ['Method used to travel to work by industry', 'RM078'],
 ['Method used to travel to work by distance travelled to work', 'RM077'],
 ['Method used to travel to work by car or van availability', 'RM076'],
 ['Method used to travel to work by age', 'RM075'],
 ['Legal partnership status by sex by age', 'RM074'],
 ['Disability by sex by age', 'RM073'],
 ['Disability by religion by sex', 'RM072'],
 ['Disability by provision of unpaid care by sex', 'RM071'],
 ['Disability by NS-SEC by age', 'RM070'],
 ['Disability by general health by age', 'RM069'],
 ['Disability by car or van availability', 'RM068'],
 ['Living arrangements by sex by age', 'RM067'],
 ['Living arrangements by age - Household Reference Person', 'RM066'],
 ['Industry by sex', 'RM065'],
 ['Industry by ethnic group', 'RM064'],
 ['Industry by economic activity status', 'RM063'],
 ['Industry by age', 'RM062'],
 ['Household composition by religion of Household Reference Person', 'RM061'],
 ['Household composition by number of people in household with a disability',
  'RM060'],
 ['Household composition by number of bedrooms', 'RM059'],
 ['Household composition by ethnic group of Household Reference Person',
  'RM058'],
 ['Household composition by age', 'RM057'],
 ['Hours worked by sex by age', 'RM056'],
 ['Highest level of qualification by sex', 'RM055'],
 ['Highest level of qualification by religion', 'RM054'],
 ['Highest level of qualification by main language', 'RM053'],
 ['Highest level of qualification by disability', 'RM052'],
 ['Highest level of qualification by household composition', 'RM051'],
 ['Highest level of qualification by ethnic group', 'RM049'],
 ['Highest level of qualification by economic activity status', 'RM048'],
 ['Highest level of qualification by country of birth', 'RM047'],
 ['General health by tenure by age', 'RM046'],
 ['General health by religion by age', 'RM045'],
 ['General health by NS-SEC', 'RM044'],
 ['General health by ethnic group by age', 'RM043'],
 ['General health by car or van availability by sex', 'RM042'],
 ['Gender identity by occupation', 'RM041'],
 ['Gender identity by legal partnership status', 'RM040'],
 ['Gender identity by general health', 'RM039'],
 ['Gender identity by ethnic group', 'RM038'],
 ['Gender identity by economic activity status', 'RM037'],
 ['Gender identity by disability', 'RM036'],
 ['Gender identity by age', 'RM035'],
 ['Family status by number of parents working by economic activity status',
  'RM034'],
 ['Ethnic group of dependent child by sex', 'RM033'],
 ['Ethnic group by sex by age', 'RM032'],
 ['Ethnic group by religion', 'RM031'],
 ['Ethnic group by provision of unpaid care by general health', 'RM030'],
 ['Ethnic group by occupancy rating (rooms)', 'RM029'],
 ['Ethnic group by occupancy rating (bedrooms)', 'RM028'],
 ['Ethnic group by age of arrival in the UK', 'RM027'],
 ['Ethnic group by accommodation type', 'RM026'],
 ['Economic activity status by sex by employment history', 'RM025'],
 ['Economic activity status by sex by age', 'RM024'],
 ['Economic activity status by religion', 'RM023'],
 ['Economic activity status by provision of unpaid care by general health',
  'RM022'],
 ['Economic activity status by passports held', 'RM021'],
 ['Economic activity status by living arrangements', 'RM020'],
 ['Economic activity status by hours worked by disability', 'RM019'],
 ['Economic activity status by ethnic group', 'RM018'],
 ['Economic activity status by country of birth', 'RM017'],
 ['Distance travelled to work by occupation', 'RM016'],
 ['Distance travelled to work by car or van availability', 'RM015'],

In [5]:
ons_ids = ['wellbeing-quarterly', 
       'wellbeing-local-authority',
       'uk-spending-on-cards',
       'tax-benefits-statistics',
       'regional-gdp-by-quarter',
       'labour-market',
       'gdp-to-four-decimal-places',
       'gdp-by-local-authority',
       'cpih01',
       'ashe-tables-20',
      ]

# get BoE data for interest rates and mortgage approval rates

#### Function to retrieve ONS dataset using its id

In [8]:
def get_ONS_dataset(id: str, api_url='https://api.beta.ons.gov.uk/v1/'):
    response = requests.get(f'{api_url}datasets/{id}')
    dataset_json = response.json()
    dataset_latest = dataset_json['links']['latest_version']['href']
    dataset_meta_json = requests.get(f'{dataset_latest}/metadata').json()
    dataset_latest_csv = dataset_meta_json['downloads']['csv']['href']
    return pd.read_csv(dataset_latest_csv, storage_options = {'User-Agent': 'Mozilla/5.0'})

#### 1. Wellbeing quarterly - ONS

In [9]:
wellbeing_q_df = get_ONS_dataset(ons_ids[0])
wellbeing_q_df.head()

,v4_2,LCL,UCL,yyyy-qq,Time,uk-only,Geography,measure-of-wellbeing,MeasureOfWellbeing,wellbeing-estimate,Estimate,seasonal-adjustment,SeasonalAdjustment
0,7.5,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,average-mean,Average (mean),seasonal-adjustment,Seasonally adjusted
1,16.3,15.4,17.2,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,fair,Fair,non-seasonal-adjustment,Non-seasonally adjusted
2,54.1,53.0,55.3,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,good,Good,non-seasonal-adjustment,Non-seasonally adjusted
3,23.7,22.8,24.7,2023-q1,2023 Q1,K02000001,United Kingdom,life-satisfaction,Life satisfaction,very-good,Very good,non-seasonal-adjustment,Non-seasonally adjusted
4,17.3,NaN,NaN,2023-q1,2023 Q1,K02000001,United Kingdom,happiness,Happiness,fair,Fair,seasonal-adjustment,Seasonally adjusted

#### 2. Wellbeing local authority - ONS

In [10]:
wellbeing_la_df = get_ONS_dataset(ons_ids[1])
wellbeing_la_df.head()

,v4_3,Data marking,Lower limit,Upper limit,yyyy-yy,Time,administrative-geography,Geography,measure-of-wellbeing,MeasureOfWellbeing,wellbeing-estimate,Estimate
0,NaN,[x],[x],[x],2015-16,2015-16,E13000002,Outer London,life-satisfaction,Life satisfaction,fair,Fair
1,NaN,[x],[x],[x],2016-17,2016-17,E13000002,Outer London,life-satisfaction,Life satisfaction,good,Good
2,NaN,[x],[x],[x],2018-19,2018-19,E13000002,Outer London,life-satisfaction,Life satisfaction,fair,Fair
3,NaN,[x],[x],[x],2018-19,2018-19,E13000002,Outer London,life-satisfaction,Life satisfaction,very-good,Very good
4,NaN,[x],[x],[x],2014-15,2014-15,E13000002,Outer London,worthwhile,Worthwhile,fair,Fair

#### 3. UK spending on debit and credit cards

In [11]:
uk_card_spending_df = get_ONS_dataset(ons_ids[2])
uk_card_spending_df.head()

,v4_1,Data Marking,calendar-years,Time,uk-only,Geography,dd-mm,DayMonth,spend-category,Category
0,99.696013,NaN,2020,2020,K02000001,United Kingdom,17-08,17-08,staple,Staple
1,106.921456,NaN,2022,2022,K02000001,United Kingdom,17-08,17-08,staple,Staple
2,NaN,.,2024,2024,K02000001,United Kingdom,17-08,17-08,work-related,Work Related
3,90.310252,NaN,2020,2020,K02000001,United Kingdom,17-08,17-08,work-related,Work Related
4,86.507714,NaN,2020,2020,K02000001,United Kingdom,17-08,17-08,aggregate,Aggregate

#### 4. Consumer Price Index - inflation rate

In [14]:
cpi_df = get_ONS_dataset(ons_ids[8])
cpi_df.head()

,v4_0,mmm-yy,Time,uk-only,Geography,cpih1dim1aggid,Aggregate
0,128.0,Aug-23,Aug-23,K02000001,United Kingdom,CP0953_0954,"09.5.3/4 Miscellaneous printed matter, station..."
1,112.6,Aug-23,Aug-23,K02000001,United Kingdom,CP052,05.2 Household textiles
2,128.4,Aug-23,Aug-23,K02000001,United Kingdom,CP082_083,08.2/3 Telephone and telefax equipment
3,97.3,Aug-23,Aug-23,K02000001,United Kingdom,CP091,09.1 Audio-visual equipment and related products
4,216.5,Aug-23,Aug-23,K02000001,United Kingdom,CP0733,07.3.3 Passenger transport by air

In [17]:
set(cpi_df['Aggregate'].tolist())

{'01 Food and non-alcoholic beverages',
 '01.1 Food',
 '01.1.1 Bread and cereals',
 '01.1.2 Meat',
 '01.1.3 Fish',
 '01.1.4 Milk, cheese and eggs',
 '01.1.5 Oils and fats',
 '01.1.6 Fruit',
 '01.1.7 Vegetables including potatoes and tubers',
 '01.1.8 Sugar, jam, syrups, chocolate and confectionery',
 '01.1.9 Food products (nec)',
 '01.2 Non-alcoholic beverages',
 '01.2.1 Coffee, tea and cocoa',
 '01.2.2 Mineral waters, soft drinks and juices',
 '02 Alcoholic beverages and tobacco',
 '02.1 Alcoholic beverages',
 '02.1.1 Spirits',
 '02.1.2 Wine',
 '02.1.3 Beer',
 '02.2 Tobacco',
 '03 Clothing and footwear',
 '03.1 Clothing',
 '03.1.2 Garments',
 '03.1.3 Other clothing and clothing accessories',
 '03.1.4 Cleaning, repair and hire of clothing',
 '03.2 Footwear including repairs',
 '04 Housing, water, electricity, gas and other fuels',
 '04.1 Actual rentals for housing',
 '04.2 Owner Occupiers Housing Costs',
 '04.3 Regular maintenance and repair of the dwelling',
 '04.3.1 Materials for maintenance and repair of the dwelling',
 '04.3.2 Services for maintenance and repair of the dwelling',
 '04.4 Water supply and miscellaneous services relating to the dwelling',
 '04.4.1 Water supply',
 '04.4.3 Sewerage collection',
 '04.5 Electricity, gas and other fuels',
 '04.5.1 Electricity',
 '04.5.2 Gas',
 '04.5.3 Liquid fuels',
 '04.5.4 Solid fuels',
 '04.9 Council Tax and rates',
 '05 Furniture, household equipment and maintenance',
 '05.1 Furniture, furnishings and carpets',
 '05.1.1 Furniture and furnishings',
 '05.1.2 Carpets and other floor coverings',
 '05.2 Household textiles',
 '05.3 Household appliances, fitting and repairs',
 '05.3.1/2 Major appliances and small electric goods',
 '05.3.3 Repair of household appliances',
 '05.4 Glassware, tableware and household utensils',
 '05.5 Tools and equipment for house and garden',
 '05.6 Goods and services for routine maintenance',
 '05.6.1 Non-durable household goods',
 '05.6.2 Domestic services and household services',
 '06 Health',
 '06.1 Medical products, appliances and equipment',
 '06.1.1 Pharmaceutical products',
 '06.1.2/3 Other medical and therapeutic equipment',
 '06.2 Out-patient services',
 '06.2.1/3 Medical services and paramedical services',
 '06.2.2 Dental services',
 '06.3 Hospital services',
 '07 Transport',
 '07.1 Purchase of vehicles',
 '07.1.1 New Cars',
 '07.1.1.1 New motor cars',
 '07.1.1.2 Second-hand motor cars',
 '07.1.1b Second Hand Cars',
 '07.1.2/3 Motocycles and bicycles',
 '07.1.2/3 Motorcycles and bicycles',
 '07.2 Operation of personal transport equipment',
 '07.2.1 Spare parts and accessories',
 '07.2.2 Fuels and lubricants',
 '07.2.3 Maintenance and repairs',
 '07.2.4 Other services',
 '07.3 Transport services',
 '07.3.1 Passenger transport by railway',
 '07.3.2/6 Passenger transport by road and other services',
 '07.3.3 Passenger transport by air',
 '07.3.4 Passenger transport by sea and inland waterway',
 '08 Communication',
 '08.1 Postal services',
 '08.2/3 Telephone and telefax equipment',
 '09 Recreation and culture',
 '09.1 Audio-visual equipment and related products',
 '09.1.1 Reception and reproduction of sound and pictures',
 '09.1.2 Photographic, cinematographic and optical equipment',
 '09.1.3 Data processing equipment',
 '09.1.4 Recording media',
 '09.1.5 Repair of audio-visual equipment and related products',
 '09.1.5 Repair of audio-visual equipment, related products',
 '09.2 Other major durables for recreation and culture',
 '09.3 Other recreational items, gardens and pets',
 '09.3.1 Games, toys and hobbies',
 '09.3.2 Equipment for sport and open-air recreation',
 '09.3.3 Gardens, plants and flowers',
 '09.3.4/5 Pets, related products and services',
 '09.4 Recreational and cultural services',
 '09.4.1 Recreational and sporting services',
 '09.4.2 Cultural services',
 '09.5 Books, newspapers and stationery',
 '09.5.1 Books',
 '09.5.2 Newspapers and periodicals',
 '09.5.3/4 Miscellaneous printed matter, stationery and drawing materials',
 '09.6 Package holidays',
 '10 Education',
 '11 Restaurants and hotels',
 '11.1 Catering services',
 '11.1.1 Restaurants and cafes',
 '11.1.2 Canteens',
 '11.2 Accommodation services',
 '12 Miscellaneous goods and services',
 '12.1 Personal care',
 '12.1.1 Hairdressing and personal grooming establishments',
 '12.1.2/3 Appliances and products for personal care',
 '12.3 Personal effects (nec)',
 '12.3.1 Jewellery, clocks and watches',
 '12.3.2 Other personal effects',
 '12.4 Social protection',
 '12.5 Insurance',
 '12.5.2 House contents insurance',
 '12.5.3 Health insurance',
 '12.5.4 Transport insurance',
 '12.6 Financial services (nec)',
 '12.7 Other services (nec)',
 'Overall Index'}

In [18]:
cpi_df[cpi_df['Aggregate']=='Overall Index']

,v4_0,mmm-yy,Time,uk-only,Geography,cpih1dim1aggid,Aggregate
7,129.4,Aug-23,Aug-23,K02000001,United Kingdom,CP00,Overall Index
225,104.3,Sep-17,Sep-17,K02000001,United Kingdom,CP00,Overall Index
336,80.0,Jan-06,Jan-06,K02000001,United Kingdom,CP00,Overall Index
453,93.5,Jul-11,Jul-11,K02000001,United Kingdom,CP00,Overall Index
590,47.0,Feb-88,Feb-88,K02000001,United Kingdom,CP00,Overall Index
...,...,...,...,...,...,...,...
52108,81.5,Jun-06,Jun-06,K02000001,United Kingdom,CP00,Overall Index
52257,69.2,Nov-96,Nov-96,K02000001,United Kingdom,CP00,Overall Index
52357,59.9,Aug-91,Aug-91,K02000001,United Kingdom,CP00,Overall Index
52461,91.7,Dec-10,Dec-10,K02000001,United Kingdom,CP00,Overall Index
52588,49.7,Feb-89,Feb-89,K02000001,United Kingdom,CP00,Overall Index

Need to format as time series and use to calculate inflation rate change --> (past-current/past)x100

#### 5. GDP Monthly Estimates

In [19]:
gdp_df = get_ONS_dataset(ons_ids[6])
gdp_df.head()

,v4_0,mmm-yy,Time,uk-only,Geography,sic-unofficial,UnofficialStandardIndustrialClassification
0,79.3539,Jan-09,Jan-09,K02000001,United Kingdom,F,F : Construction
1,93.8681,Jan-09,Jan-09,K02000001,United Kingdom,B--E,B-E : Production Industries
2,80.5284,Jan-09,Jan-09,K02000001,United Kingdom,G--T,G-T : Index of Services
3,102.3273,Jan-09,Jan-09,K02000001,United Kingdom,A,A : Agriculture
4,82.3913,Jan-09,Jan-09,K02000001,United Kingdom,A--T,A-T : Monthly GDP

In [20]:
gdp_df[gdp_df['sic-unofficial']=='A--T']

,v4_0,mmm-yy,Time,uk-only,Geography,sic-unofficial,UnofficialStandardIndustrialClassification
4,82.3913,Jan-09,Jan-09,K02000001,United Kingdom,A--T,A-T : Monthly GDP
5,102.3331,Nov-22,Nov-22,K02000001,United Kingdom,A--T,A-T : Monthly GDP
13,84.0562,Sep-06,Sep-06,K02000001,United Kingdom,A--T,A-T : Monthly GDP
16,98.5964,Sep-18,Sep-18,K02000001,United Kingdom,A--T,A-T : Monthly GDP
23,66.2490,Dec-97,Dec-97,K02000001,United Kingdom,A--T,A-T : Monthly GDP
...,...,...,...,...,...,...,...
1593,67.8739,Jan-99,Jan-99,K02000001,United Kingdom,A--T,A-T : Monthly GDP
1596,68.6516,Jun-99,Jun-99,K02000001,United Kingdom,A--T,A-T : Monthly GDP
1602,81.2726,Apr-05,Apr-05,K02000001,United Kingdom,A--T,A-T : Monthly GDP
1609,99.3054,Apr-19,Apr-19,K02000001,United Kingdom,A--T,A-T : Monthly GDP
1611,86.3988,Jan-13,Jan-13,K02000001,United Kingdom,A--T,A-T : Monthly GDP

Need to format as time series

### Exploring Bank of England API

#### 1. Mortgage Approval Rates

In [3]:
url = 'https://www.bankofengland.co.uk/boeapps/database/_iadb-fromshowcolumns.asp?' \
    'csv.x=yes&Datefrom=01/Feb/1990&Dateto=now&SeriesCodes=LPMVTVU&CSVF=TT&UsingCodes=Y&VPD=Y&VFD=N'

headers = {
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/54.0.2840.90 '
                  'Safari/537.36'
}

r = requests.get(url, headers=headers)
mortgages_df = pd.read_csv(io.StringIO(r.text), header=2)
mortgages_df.head()

          DATE  LPMVTVU
0  30 Apr 1993    90963
1  31 May 1993    91684
2  30 Jun 1993   100672
3  31 Jul 1993    93576
4  31 Aug 1993    83478

In [7]:
mortgages_df.tail()

            DATE  LPMVTVU
364  31 Aug 2023    48063
365  30 Sep 2023    44293
366  31 Oct 2023    48927
367  30 Nov 2023    50096
368  31 Dec 2023    36197

#### 2. Interest Rates

In [23]:
import datetime

today = datetime.date.today()
formatted_today = today.strftime("%d/%b/%Y")

# url = f'https://www.bankofengland.co.uk/boeapps/database/_iadb-fromshowcolumns.asp?' \
#     f'csv.x=yes&Datefrom=01/Feb/1990&Dateto={formatted_today}&SeriesCodes=IUMAAMIH&CSVF=TT&UsingCodes=Y&VPD=Y&VFD=N'

url = f'https://www.bankofengland.co.uk/boeapps/database/_iadb-fromshowcolumns.asp?' \
    f'csv.x=yes&Datefrom=01/Feb/1990&Dateto=now&SeriesCodes=IUMABEDR&CSVF=TT&UsingCodes=Y&VPD=Y&VFD=N'

headers = {
    'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/54.0.2840.90 '
                  'Safari/537.36'
}

r = requests.get(url, headers=headers)
interest_df = pd.read_csv(io.StringIO(r.text), header=2)
interest_df.head()

          DATE  IUMABEDR
0  28 Feb 1990    14.875
1  31 Mar 1990    14.875
2  30 Apr 1990    14.875
3  31 May 1990    14.875
4  30 Jun 1990    14.875

In [24]:
interest_df.tail()

            DATE  IUMABEDR
403  30 Sep 2023      5.25
404  31 Oct 2023      5.25
405  30 Nov 2023      5.25
406  31 Dec 2023      5.25
407  31 Jan 2024      5.25

### HM Land Registry Data

Need to webscrape urls to make sure updates itself accurately, but will use these just to test importing the data

In [34]:
ppd_url = 'http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-complete.csv'
ukhpi_url = 'http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Indices-2023-11.csv?utm_medium=GOV.UK&utm_source=datadownload&utm_campaign=index&utm_term=9.30_17_01_24'
avg_price_url = 'http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Average-prices-2023-11.csv?utm_medium=GOV.UK&utm_source=datadownload&utm_campaign=average_price&utm_term=9.30_17_01_24'

#### 1. Price Paid Data

File is 4.3gb so potentially would cause performance issues for dashboard. Will avoid using unless absolutely necessary.

In [39]:
#full ppd data is too big to read in at once using pandas
# ppd_df = pd.read_csv(ppd_url)
# ppd_df.head()

# r = requests.get(ppd_url, headers=headers)
# ppd_df = pd.read_csv(io.StringIO(r.text), header=None)
# ppd_df.head()

#### 2. UKHPI Data

In [28]:
ukhpi_df = pd.read_csv(ukhpi_url)
ukhpi_df.head()

         Date       Region_Name  Area_Code     Index
0  1968-04-01  Northern Ireland  N92000001  3.300420
1  1968-04-01           England  E92000001  1.680067
2  1968-04-01             Wales  W92000004  2.119327
3  1968-04-01          Scotland  S92000003  2.108087
4  1968-04-01            London  E12000007  1.096815

In [38]:
set(ukhpi_df['Region_Name'].tolist())

{'Aberdeenshire',
 'Adur',
 'Amber Valley',
 'Angus',
 'Antrim and Newtownabbey',
 'Ards and North Down',
 'Argyll and Bute',
 'Armagh City Banbridge and Craigavon',
 'Arun',
 'Ashfield',
 'Ashford',
 'Babergh',
 'Barking and Dagenham',
 'Barnet',
 'Barnsley',
 'Basildon',
 'Basingstoke and Deane',
 'Bassetlaw',
 'Bath and North East Somerset',
 'Bedford',
 'Belfast',
 'Bexley',
 'Birmingham',
 'Blaby',
 'Blackburn with Darwen',
 'Blackpool',
 'Blaenau Gwent',
 'Bolsover',
 'Bolton',
 'Boston',
 'Bournemouth Christchurch and Poole',
 'Bracknell Forest',
 'Bradford',
 'Braintree',
 'Breckland',
 'Brent',
 'Brentwood',
 'Bridgend',
 'Brighton and Hove',
 'Broadland',
 'Bromley',
 'Bromsgrove',
 'Broxbourne',
 'Broxtowe',
 'Buckinghamshire',
 'Burnley',
 'Bury',
 'Caerphilly',
 'Calderdale',
 'Cambridge',
 'Cambridgeshire',
 'Camden',
 'Cannock Chase',
 'Canterbury',
 'Cardiff',
 'Carmarthenshire',
 'Castle Point',
 'Causeway Coast and Glens',
 'Central Bedfordshire',
 'Ceredigion',
 'Charnwood',
 'Chelmsford',
 'Cheltenham',
 'Cherwell',
 'Cheshire East',
 'Cheshire West and Chester',
 'Chesterfield',
 'Chichester',
 'Chorley',
 'City of Aberdeen',
 'City of Bristol',
 'City of Derby',
 'City of Dundee',
 'City of Edinburgh',
 'City of Glasgow',
 'City of Kingston upon Hull',
 'City of London',
 'City of Nottingham',
 'City of Peterborough',
 'City of Plymouth',
 'City of Westminster',
 'Clackmannanshire',
 'Colchester',
 'Conwy',
 'Cornwall',
 'Cotswold',
 'County Durham',
 'Coventry',
 'Crawley',
 'Croydon',
 'Cumberland',
 'Dacorum',
 'Darlington',
 'Dartford',
 'Denbighshire',
 'Derbyshire',
 'Derbyshire Dales',
 'Derry City and Strabane',
 'Devon',
 'Doncaster',
 'Dorset',
 'Dover',
 'Dudley',
 'Dumfries and Galloway',
 'Ealing',
 'East Ayrshire',
 'East Cambridgeshire',
 'East Devon',
 'East Dunbartonshire',
 'East Hampshire',
 'East Hertfordshire',
 'East Lindsey',
 'East Lothian',
 'East Midlands',
 'East Renfrewshire',
 'East Riding of Yorkshire',
 'East Staffordshire',
 'East Suffolk',
 'East Sussex',
 'East of England',
 'Eastbourne',
 'Eastleigh',
 'Elmbridge',
 'Enfield',
 'England',
 'England and Wales',
 'Epping Forest',
 'Epsom and Ewell',
 'Erewash',
 'Essex',
 'Exeter',
 'Falkirk',
 'Fareham',
 'Fenland',
 'Fermanagh and Omagh',
 'Fife',
 'Flintshire',
 'Folkestone and Hythe',
 'Forest of Dean',
 'Fylde',
 'Gateshead',
 'Gedling',
 'Gloucester',
 'Gloucestershire',
 'Gosport',
 'Gravesham',
 'Great Britain',
 'Great Yarmouth',
 'Greater Manchester',
 'Greenwich',
 'Guildford',
 'Gwynedd',
 'Hackney',
 'Halton',
 'Hammersmith and Fulham',
 'Hampshire',
 'Harborough',
 'Haringey',
 'Harlow',
 'Harrow',
 'Hart',
 'Hartlepool',
 'Hastings',
 'Havant',
 'Havering',
 'Herefordshire',
 'Hertfordshire',
 'Hertsmere',
 'High Peak',
 'Highland',
 'Hillingdon',
 'Hinckley and Bosworth',
 'Horsham',
 'Hounslow',
 'Huntingdonshire',
 'Hyndburn',
 'Inner London',
 'Inverclyde',
 'Ipswich',
 'Isle of Anglesey',
 'Isle of Wight',
 'Islington',
 'Kensington and Chelsea',
 'Kent',
 "King's Lynn and West Norfolk ",
 'Kingston upon Thames',
 'Kirklees',
 'Knowsley',
 'Lambeth',
 'Lancashire',
 'Lancaster',
 'Leeds',
 'Leicester',
 'Leicestershire',
 'Lewes',
 'Lewisham',
 'Lichfield',
 'Lincoln',
 'Lincolnshire',
 'Lisburn and Castlereagh',
 'Liverpool',
 'London',
 'Luton',
 'Maidstone',
 'Maldon',
 'Malvern Hills',
 'Manchester',
 'Mansfield',
 'Medway',
 'Melton',
 'Merseyside',
 'Merthyr Tydfil',
 'Merton',
 'Mid Devon',
 'Mid Suffolk',
 'Mid Sussex',
 'Mid Ulster',
 'Mid and East Antrim',
 'Middlesbrough',
 'Midlothian',
 'Milton Keynes',
 'Mole Valley',
 'Monmouthshire',
 'Moray',
 'Na h-Eileanan Siar',
 'Neath Port Talbot',
 'New Forest',
 'Newark and Sherwood',
 'Newcastle upon Tyne',
 'Newcastle-under-Lyme',
 'Newham',
 'Newport',
 'Newry Mourne and Down',
 'Norfolk',
 'North Ayrshire',
 'North Devon',
 'North East',
 'North East Derbyshire',
 'North East Lincolnshire',
 'North Hertfordshire',
 'North Kesteven',
 'North Lanarkshire',
 'North Lincolnshire',
 'North Norfolk',
 'North Northamptonshire',
 'North Somerset',
 'North Tyneside',
 'North Warwickshire',
 'North West',
 'North West Leicestershire',
 'North Yorkshire',
 'Northern Ireland',
 'Northumberland',
 'Norwich',
 'Nottinghamshire',
 'Nuneaton and Bedworth',
 'Oadby and Wigston',
 'Oldham',
 'Orkney Islands',
 'Outer London',
 'Oxford',
 'Oxfordshire',
 'Pembrokeshire',
 'Pendle',
 'Perth and Kinross',
 'Portsmouth',
 'Powys',
 'Preston',
 'Reading',
 'Redbridge',
 'Redcar and Cleveland',
 'Redditch',
 'Reigate and Banstead',
 'Renfrewshire',
 'Rhondda Cynon Taf',
 'Ribble Valley',
 'Richmond upon Thames',
 'Rochdale',
 'Rochford',
 'Rossendale',
 'Rother',
 'Rotherham',
 'Rugby',
 'Runnymede',
 'Rushcliffe',
 'Rushmoor',
 'Rutland',
 'Salford',
 'Sandwell',
 'Scotland',
 'Scottish Borders',
 'Sefton',
 'Sevenoaks',
 'Sheffield',
 'Shetland Islands',
 'Shropshire',
 'Slough',
 'Solihull',
 'Somerset',
 'South Ayrshire',
 'South Cambridgeshire',
 'South Derbyshire',
 'South East',
 'South Gloucestershire',
 'South Hams',
 'South Holland',
 'South Kesteven',
 'South Lanarkshire',
 'South Norfolk',
 'South Oxfordshire',
 'South Ribble',
 'South Staffordshire',
 'South Tyneside',
 'South West',
 'South Yorkshire',
 'Southampton',
 'Southend-on-Sea',
 'Southwark',
 'Spelthorne',
 'St Albans',
 'St Helens',
 'Stafford',
 'Staffordshire',
 'Staffordshire Moorlands',
 'Stevenage',
 'Stirling',
 'Stockport',
 'Stockton-on-Tees',
 'Stoke-on-Trent',
 'Stratford-on-Avon',
 'Stroud',
 'Suffolk',
 'Sunderland',
 'Surrey',
 'Surrey Heath',
 'Sutton',
 'Swale',
 'Swansea',
 'Swindon',
 'Tameside',
 'Tamworth',
 'Tandridge',
 'Teignbridge',
 'Telford and Wrekin',
 'Tendring',
 'Test Valley',
 'Tewkesbury',
 'Thanet',
 'Three Rivers',
 'Thurrock',
 'Tonbridge and Malling',
 'Torbay',
 'Torfaen',
 'Torridge',
 'Tower Hamlets',
 'Trafford',
 'Tunbridge Wells',
 'Tyne and Wear',
 'United Kingdom',
 'Uttlesford',
 'Vale of Glamorgan',
 'Vale of White Horse',
 'Wakefield',
 'Wales',
 'Walsall',
 'Waltham Forest',
 'Wandsworth',
 'Warrington',
 'Warwick',
 'Warwickshire',
 'Watford',
 'Waverley',
 'Wealden',
 'Welwyn Hatfield',
 'West Berkshire',
 'West Devon',
 'West Dunbartonshire',
 'West Lancashire',
 'West Lindsey',
 'West Lothian',
 'West Midlands',
 'West Midlands Region',
 'West Northamptonshire',
 'West Oxfordshire',
 'West Suffolk',
 'West Sussex',
 'West Yorkshire',
 'Westmorland and Furness',
 'Wigan',
 'Wiltshire',
 'Winchester',
 'Windsor and Maidenhead',
 'Wirral',
 'Woking',
 'Wokingham',
 'Wolverhampton',
 'Worcester',
 'Worcestershire',
 'Worthing',
 'Wrexham',
 'Wychavon',
 'Wyre',
 'Wyre Forest',
 'York',
 'Yorkshire and The Humber'}

#### 3. Average Price Paid Data

In [35]:
avg_price_df = pd.read_csv(avg_price_url)
avg_price_df.head()

,Date,Region_Name,Area_Code,Average_Price,Monthly_Change,Annual_Change,Average_Price_SA
0,1968-04-01,Northern Ireland,N92000001,3661.485500,0.0,NaN,NaN
1,1968-04-01,England,E92000001,3408.108064,0.0,NaN,NaN
2,1968-04-01,Wales,W92000004,2885.414162,0.0,NaN,NaN
3,1968-04-01,Scotland,S92000003,2844.980688,0.0,NaN,NaN
4,1968-04-01,London,E12000007,4418.489911,0.0,NaN,NaN

In [37]:
set(avg_price_df['Region_Name'].tolist())

{'Aberdeenshire',
 'Adur',
 'Amber Valley',
 'Angus',
 'Antrim and Newtownabbey',
 'Ards and North Down',
 'Argyll and Bute',
 'Armagh City Banbridge and Craigavon',
 'Arun',
 'Ashfield',
 'Ashford',
 'Babergh',
 'Barking and Dagenham',
 'Barnet',
 'Barnsley',
 'Basildon',
 'Basingstoke and Deane',
 'Bassetlaw',
 'Bath and North East Somerset',
 'Bedford',
 'Belfast',
 'Bexley',
 'Birmingham',
 'Blaby',
 'Blackburn with Darwen',
 'Blackpool',
 'Blaenau Gwent',
 'Bolsover',
 'Bolton',
 'Boston',
 'Bournemouth Christchurch and Poole',
 'Bracknell Forest',
 'Bradford',
 'Braintree',
 'Breckland',
 'Brent',
 'Brentwood',
 'Bridgend',
 'Brighton and Hove',
 'Broadland',
 'Bromley',
 'Bromsgrove',
 'Broxbourne',
 'Broxtowe',
 'Buckinghamshire',
 'Burnley',
 'Bury',
 'Caerphilly',
 'Calderdale',
 'Cambridge',
 'Cambridgeshire',
 'Camden',
 'Cannock Chase',
 'Canterbury',
 'Cardiff',
 'Carmarthenshire',
 'Castle Point',
 'Causeway Coast and Glens',
 'Central Bedfordshire',
 'Ceredigion',
 'Charnwood',
 'Chelmsford',
 'Cheltenham',
 'Cherwell',
 'Cheshire East',
 'Cheshire West and Chester',
 'Chesterfield',
 'Chichester',
 'Chorley',
 'City of Aberdeen',
 'City of Bristol',
 'City of Derby',
 'City of Dundee',
 'City of Edinburgh',
 'City of Glasgow',
 'City of Kingston upon Hull',
 'City of London',
 'City of Nottingham',
 'City of Peterborough',
 'City of Plymouth',
 'City of Westminster',
 'Clackmannanshire',
 'Colchester',
 'Conwy',
 'Cornwall',
 'Cotswold',
 'County Durham',
 'Coventry',
 'Crawley',
 'Croydon',
 'Cumberland',
 'Dacorum',
 'Darlington',
 'Dartford',
 'Denbighshire',
 'Derbyshire',
 'Derbyshire Dales',
 'Derry City and Strabane',
 'Devon',
 'Doncaster',
 'Dorset',
 'Dover',
 'Dudley',
 'Dumfries and Galloway',
 'Ealing',
 'East Ayrshire',
 'East Cambridgeshire',
 'East Devon',
 'East Dunbartonshire',
 'East Hampshire',
 'East Hertfordshire',
 'East Lindsey',
 'East Lothian',
 'East Midlands',
 'East Renfrewshire',
 'East Riding of Yorkshire',
 'East Staffordshire',
 'East Suffolk',
 'East Sussex',
 'East of England',
 'Eastbourne',
 'Eastleigh',
 'Elmbridge',
 'Enfield',
 'England',
 'England and Wales',
 'Epping Forest',
 'Epsom and Ewell',
 'Erewash',
 'Essex',
 'Exeter',
 'Falkirk',
 'Fareham',
 'Fenland',
 'Fermanagh and Omagh',
 'Fife',
 'Flintshire',
 'Folkestone and Hythe',
 'Forest of Dean',
 'Fylde',
 'Gateshead',
 'Gedling',
 'Gloucester',
 'Gloucestershire',
 'Gosport',
 'Gravesham',
 'Great Britain',
 'Great Yarmouth',
 'Greater Manchester',
 'Greenwich',
 'Guildford',
 'Gwynedd',
 'Hackney',
 'Halton',
 'Hammersmith and Fulham',
 'Hampshire',
 'Harborough',
 'Haringey',
 'Harlow',
 'Harrow',
 'Hart',
 'Hartlepool',
 'Hastings',
 'Havant',
 'Havering',
 'Herefordshire',
 'Hertfordshire',
 'Hertsmere',
 'High Peak',
 'Highland',
 'Hillingdon',
 'Hinckley and Bosworth',
 'Horsham',
 'Hounslow',
 'Huntingdonshire',
 'Hyndburn',
 'Inner London',
 'Inverclyde',
 'Ipswich',
 'Isle of Anglesey',
 'Isle of Wight',
 'Islington',
 'Kensington and Chelsea',
 'Kent',
 "King's Lynn and West Norfolk ",
 'Kingston upon Thames',
 'Kirklees',
 'Knowsley',
 'Lambeth',
 'Lancashire',
 'Lancaster',
 'Leeds',
 'Leicester',
 'Leicestershire',
 'Lewes',
 'Lewisham',
 'Lichfield',
 'Lincoln',
 'Lincolnshire',
 'Lisburn and Castlereagh',
 'Liverpool',
 'London',
 'Luton',
 'Maidstone',
 'Maldon',
 'Malvern Hills',
 'Manchester',
 'Mansfield',
 'Medway',
 'Melton',
 'Merseyside',
 'Merthyr Tydfil',
 'Merton',
 'Mid Devon',
 'Mid Suffolk',
 'Mid Sussex',
 'Mid Ulster',
 'Mid and East Antrim',
 'Middlesbrough',
 'Midlothian',
 'Milton Keynes',
 'Mole Valley',
 'Monmouthshire',
 'Moray',
 'Na h-Eileanan Siar',
 'Neath Port Talbot',
 'New Forest',
 'Newark and Sherwood',
 'Newcastle upon Tyne',
 'Newcastle-under-Lyme',
 'Newham',
 'Newport',
 'Newry Mourne and Down',
 'Norfolk',
 'North Ayrshire',
 'North Devon',
 'North East',
 'North East Derbyshire',
 'North East Lincolnshire',
 'North Hertfordshire',
 'North Kesteven',
 'North Lanarkshire',
 'North Lincolnshire',
 'North Norfolk',
 'North Northamptonshire',
 'North Somerset',
 'North Tyneside',
 'North Warwickshire',
 'North West',
 'North West Leicestershire',
 'North Yorkshire',
 'Northern Ireland',
 'Northumberland',
 'Norwich',
 'Nottinghamshire',
 'Nuneaton and Bedworth',
 'Oadby and Wigston',
 'Oldham',
 'Orkney Islands',
 'Outer London',
 'Oxford',
 'Oxfordshire',
 'Pembrokeshire',
 'Pendle',
 'Perth and Kinross',
 'Portsmouth',
 'Powys',
 'Preston',
 'Reading',
 'Redbridge',
 'Redcar and Cleveland',
 'Redditch',
 'Reigate and Banstead',
 'Renfrewshire',
 'Rhondda Cynon Taf',
 'Ribble Valley',
 'Richmond upon Thames',
 'Rochdale',
 'Rochford',
 'Rossendale',
 'Rother',
 'Rotherham',
 'Rugby',
 'Runnymede',
 'Rushcliffe',
 'Rushmoor',
 'Rutland',
 'Salford',
 'Sandwell',
 'Scotland',
 'Scottish Borders',
 'Sefton',
 'Sevenoaks',
 'Sheffield',
 'Shetland Islands',
 'Shropshire',
 'Slough',
 'Solihull',
 'Somerset',
 'South Ayrshire',
 'South Cambridgeshire',
 'South Derbyshire',
 'South East',
 'South Gloucestershire',
 'South Hams',
 'South Holland',
 'South Kesteven',
 'South Lanarkshire',
 'South Norfolk',
 'South Oxfordshire',
 'South Ribble',
 'South Staffordshire',
 'South Tyneside',
 'South West',
 'South Yorkshire',
 'Southampton',
 'Southend-on-Sea',
 'Southwark',
 'Spelthorne',
 'St Albans',
 'St Helens',
 'Stafford',
 'Staffordshire',
 'Staffordshire Moorlands',
 'Stevenage',
 'Stirling',
 'Stockport',
 'Stockton-on-Tees',
 'Stoke-on-Trent',
 'Stratford-on-Avon',
 'Stroud',
 'Suffolk',
 'Sunderland',
 'Surrey',
 'Surrey Heath',
 'Sutton',
 'Swale',
 'Swansea',
 'Swindon',
 'Tameside',
 'Tamworth',
 'Tandridge',
 'Teignbridge',
 'Telford and Wrekin',
 'Tendring',
 'Test Valley',
 'Tewkesbury',
 'Thanet',
 'Three Rivers',
 'Thurrock',
 'Tonbridge and Malling',
 'Torbay',
 'Torfaen',
 'Torridge',
 'Tower Hamlets',
 'Trafford',
 'Tunbridge Wells',
 'Tyne and Wear',
 'United Kingdom',
 'Uttlesford',
 'Vale of Glamorgan',
 'Vale of White Horse',
 'Wakefield',
 'Wales',
 'Walsall',
 'Waltham Forest',
 'Wandsworth',
 'Warrington',
 'Warwick',
 'Warwickshire',
 'Watford',
 'Waverley',
 'Wealden',
 'Welwyn Hatfield',
 'West Berkshire',
 'West Devon',
 'West Dunbartonshire',
 'West Lancashire',
 'West Lindsey',
 'West Lothian',
 'West Midlands',
 'West Midlands Region',
 'West Northamptonshire',
 'West Oxfordshire',
 'West Suffolk',
 'West Sussex',
 'West Yorkshire',
 'Westmorland and Furness',
 'Wigan',
 'Wiltshire',
 'Winchester',
 'Windsor and Maidenhead',
 'Wirral',
 'Woking',
 'Wokingham',
 'Wolverhampton',
 'Worcester',
 'Worcestershire',
 'Worthing',
 'Wrexham',
 'Wychavon',
 'Wyre',
 'Wyre Forest',
 'York',
 'Yorkshire and The Humber'}

### Save all datasets for dashboard building

In [25]:
# cpi_df.to_csv('cpi_data.csv', index=False)
# gdp_df.to_csv('monthly_gdp_data.csv', index=False)
# mortgages_df.to_csv('mortgage_approvals_data.csv', index=False)
interest_df.to_csv('interest_rates_data.csv', index=False)
# ukhpi_df.to_csv('ukhpi_data.csv', index=False)
# avg_price_df.to_csv('avg_price_data.csv', index=False)

Still need to sort out webscraping the csv addresses for HMLR data

### Webscraping URLs for HMLR data

In [42]:
def find_data_url(parent_url, substring):
    """Finds url on a webpage using given substring for matching.
    
    Webscrapes weboage to find all URLs then looks for strings that contain substring.
    If more than one match found will fail to run, substring must be unique to desired data url.
    
    Parameters:
    -----------
    parent_url (str) - URL of webpage to webscrape to find link to data
    sustring (str) - substring to match to identify correct link for data
    
    Returns:
    --------
    data_url (str) - URL of dataset need to download
    """
    # identify all urls
    reqs = requests.get(parent_url)
    soup = BeautifulSoup(reqs.text, 'html.parser')
 
    links = []
    for link in soup.find_all('a'):
        links.append(link.get('href'))
        
    # find url for data download
    substr = substring
    results = [i for i in links if substr in i]
    data_url = list(set(results))
    
    if len(data_url) > 1:
        print('Substring did not return unique match. Please provide more suitable substring.')
    else:
        data_url = data_url[0]
        return data_url

In [48]:
parent_url = 'https://www.gov.uk/government/statistical-data-sets/uk-house-price-index-data-downloads-november-2023'
ukhpi_substr = 'UK-HPI-full-file'
avg_price_substr = 'Average-prices-20'

In [49]:
find_data_url(parent_url, ukhpi_substr)

'http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/UK-HPI-full-file-2023-11.csv?utm_medium=GOV.UK&utm_source=datadownload&utm_campaign=full_fil&utm_term=9.30_17_01_24'

In [50]:
find_data_url(parent_url, avg_price_substr)

'http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Average-prices-2023-11.csv?utm_medium=GOV.UK&utm_source=datadownload&utm_campaign=average_price&utm_term=9.30_17_01_24'